/* Layout
================================================== */
@import "modules/grid";
  
$column-width: 40px;
$gutter-width: 20px;
$columns: 16;
$total-width: 960px;

header {
  width: 100%;
  height: 100px;
  position: relative;
  h1 {
    width: 300px;
    left: 50px;
    position: relative;
  }
  .counter, .add {
    width: 50px;
    height: 50px;
    right: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
  }
}
.form-holder {
  overflow: hidden;
  height: 0;
  label {
    @include column(1);
    margin-top: 6px;
  }
  input[type=text] {
    @include column(4);
    box-sizing: border-box;
  }
  &.visible {
    height: 60px;
  }
}
.content {
  height: 100%;
  @include row(6);
  margin: 30px auto;
}
.todo {
  @include row(6);
}
  .todo li {
    position: relative;
    width: 100%;
    &:hover .action {
      left: 300px;
    }
  }
  .title {
    width: 277px;
    position: relative;
    .date {
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
  }
  .action {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    left: 240px;
    z-index: -1;
  }

footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}