/* Themes
================================================== */
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
}
.content > h2 {
  width: 300px;
  text-align: center;
  @include bold;
  margin-bottom: 20px;
}
footer {
  text-align: center;
  padding: 10px 0;
  font-size: 0.75em;
}
header {
  background-color: white;
  border-bottom: 1px solid darken(white, 20%);
  display: table;
  h1 {
    display: table-cell;
    vertical-align: middle;
    @include bold;
    @include reset;
    font-size: 1.5em;
  }
  .counter, .add {
    line-height: 50px;
    text-align: center;
    border: 1px solid darken(white, 30%);
    border-radius: 100%;
    @include bold;
    font-size: 1.2em;
  }
  .add {
    opacity: 0;
    background-color: black;
    border-color: black;
    color: rgba(255,255,255,1);
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    &:hover {
      opacity: 1;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.form-holder {
  overflow: hidden;
  transition: all 0.5 ease;
  padding-top: 5px;
  label {
    font-weight: bold;
  }
  input[type=text] {
    @include regular;
    border: 1px solid darken(white, 20%);
    border-radius: 4px;
    padding: 8px;
    outline: none;
    &:focus {
      border-color: $normal-color;
      box-shadow: 0 0 4px $normal-color;
    }
  }
}
.todo {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .todo li {
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    &.important .title {
      border-color: $important-color;
    }
    &.important .action {
      background-color: $important-color;
    }
    &.done .title {
      border-color: $done-color;
      color: lighten($base-text-color, 40%);
      text-decoration: line-through;
    }
    &.done .action {
      background-color: $done-color;
    }
  }
  .title {
    background-color: #FFF;
    padding: 10px 10px;
    border-left: 3px solid $normal-color;
    .date {
      font-size: $base-font-size - 6;
      font-style: italic;
      color: lighten($base-text-color, 50%);
    }
  }
  .action {
    text-align: center;
    font-size: 0.75em;
    color: white;
    @include single-text-shadow;
    @include border-radius(0 5px 5px 0);
    background-color: $normal-color;
    line-height: 30px;
    @include transition-property(left);
    @include transition-duration(0.3s);
  }