!!! 5
%html
  %head
    %title Test Mocha
    %meta{:charset => "utf-8"}
    %meta{:content => "Middleman", :name => "description"}
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %link{:href => "components/mocha/mocha.css", :rel => "stylesheet"}
    %script{:src => "/js/components/requirejs/require.js", "data-main"=>"config.js"}
    :css
      #testdom {
        height:0;
        overflow:hidden;
      }
    
  </script>
  %body
    #mocha
    #testdom