%header
  %h1 Doit
  .counter 3
  
.content  
  %h2 You can start hacking.
  %ul.todo
    %li 
      .title lorem ipsum dablet va
      .action done
    %li.important 
      .title lorem ipsum dablet va asjdasñ asdljas asjdlasn sakdjas asdjaslk askdjaskdsa askdjaslk sas 
      .action done
    %li.done 
      .title lorem ipsum dablet va asjdasñ asdljas asjdlasn sakdjas asdjaslk askdjaskdsa askdjaslk sas 
      .action undo

/= render_partial 'footer'
